# Python
.venv/
venv/
__pycache__/
*.pyc

# Node
node_modules/
dist/

# Model (too large for git)
backend/model/model.onnx

# TensorRT caches
*.engine
*.trt
*.timing_cache

# Certificates
cert/
ca/

# OS
.DS_Store
